footer{
    padding-top: $gutter*8;
    background-color: $gray-dark;
    border-top: 5px solid $yellow;
    text-align: center;
    a{
        color: $white;
    }
    h3{
        font-size: 2.2rem;
        color: $white;
    }
    img{
        padding: $gutter;
    }
    .d-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p{
        font-size: 1.6rem;
        padding: 30px 0;
    }
}