header{
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    border-bottom: solid #fbe62149 0.5px;
    display: flex;
    position: absolute;
    .logo{
        width: 176px;
    }
    .container{
        @include flex (row, center, space-between)
    }
    .itens{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    nav{
        ul{
            display: flex;
            a{
                color: $white;
                font-size: 1.6rem;
                transition: color .5s;
                &:hover{
                    color: $yellow;
                }
            }
            li{
                margin-right: 56px;
         
            }
        }
    }
    button{
        color: $white;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        border: 1px solid $yellow;
        padding: 10px 25px;
        border-radius: 10px;
        &:before{
            content:  url('./../img/json.svg');
            margin-right: $gutter;
        }
    }
    .icon-menu-mobile{
        display: none;
        .menu-mobile{
            flex-direction: column;
            position: absolute;
            // top: 12%;
            right: 12px;
            background-color: #000000eb;
            color: gray;
            align-items: center;
            padding: 20px;
            border-radius: 10px;
            display: none;
        }
        .active{
            display: block;
            animation-name: fadein;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }
}

@include responsive(800px){
    header{
        z-index: 20;
        .itens{
            display: none;
        }
        nav{
            ul{
                flex-direction: column;
                li{
                    // margin-right: 0;
                    margin: 10px;
                    text-align: center;
                }
            }
        }
        .icon-menu-mobile{
            display: block;
            cursor: pointer;
        }

    }
 }
 
 