
.s-hero{
    background: radial-gradient(circle at 3% 25%,#433508 0,#040c18 25%);
    padding-top: 72px ;
    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10%;
        z-index: 0;
    }

    .s-hero__row{
        display: flex;
        justify-content: space-between;
        .tag-free{
            margin-top: $gutter*8;
            color: $yellow;
            text-transform: uppercase;
            background-color: #00000063;
            padding: 10px;
            display: inline-block;
            border-radius: 50px;
        }
        ul{
            max-width: 597px;
            display: flex;
            justify-content: space-between;
            margin-top:$gutter*6;
            margin-bottom: $gutter*12;
            color: $white;

            li{
                img{
               
                     &:last-child{
                        margin: 5px;
                     }
                }
                span{
                    max-width: 166px;
                    font-size: 1.4rem;
                    line-height: 24px;
                    font-weight: 700;

                }
                
            }
        }
        .s-hero__col--1{
            max-width: 674px;
            z-index: 1;
            h1{
                color: $white;
                font-size: 48px;
                line-height: 66px;
                margin-bottom: $gutter;
            }
            p{
                font-size: 1.6rem;
                line-height: 26px;
                font-weight: 300;
                color: $gray-light;
                max-width: 611px;    
            }
            li{
                width: 25%;
                padding: $gutter/2;
                background-color: #0c1f3c;
                border-radius: 5px;

                .s-hero__card{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                   .s-hero__card--price{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                    }
                    .bg__btc{
                        background-color: #f7931a;
                        border-radius: 5px;
                    }
                    .bg__eth{
                        background-color: #0082fe;
                        border-radius: 5px;
                    }
                    .bg__uni{
                        background-color: #ff007a;
                        border-radius: 5px;
                    }
                    // p{
                    //     &::before{
                    //         content: '$ ';
                    //     }
                    // }
                }
                p{
                    color: #00F4C8;
                    // background-color: #081324;
                    padding: 0 11px;
                    border-radius: 50px;
                    font-size: 1.4rem;
                }
            }
 
            .s-hero__btn{
                margin-top: 55px;
            }
        }
        .s-hero__col--2{
            max-width: 384px;
            background-color: $white;
            box-shadow: 0px 10px 50px rgba(78, 75, 89, 0.1);
            border-radius: 8px;
            margin-top: $gutter*8;
            margin-bottom: $gutter*2;
            padding: 0 26px 26px 26px;
            z-index: 1;
            .btn{
                width: 100%;
                text-align: center;
            }
            img{
                margin: 0 auto;
                margin-top: -33px;
            }
            h3{
                color: $gray-dark;
                font-weight: bold;
                font-size: 1.8rem;
                margin-top: $gutter*4;
                text-align: center;
            }
            p{
                color: $gray-200;
                margin: $gutter 0;
                font-size: 1.6rem;
                text-align: center;
            }
            input{
                display: flex;
                background-color: $gray-light;
                width: 100%;
                height: 54px;
                border-radius: 4px;
                margin-bottom: $gutter*2;
                padding: $gutter;
            }
            button{
                width: 100%;
                background-color: $gray-dark;
                color: $white;
                font-weight: bold;
                height: 54px;
                border-radius: 8px;
            }
        }
    }
}
@include responsive(800px){
    .s-hero{
        .s-hero__row{
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .tag-free_center{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .tag-free{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 50px;
                margin-bottom: $gutter;
            }
            .s-hero__col--1{
                width: 100%;
                margin-right: 0;
                .hidden-mb{
                    display: none;
                }
                .btn{
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                }
                p{
                    margin-top: 20px;
                    text-align: center;
                }
                h1{
                    font-size: 3.4rem;
                    line-height: 33px;
                    margin-top: 0;
                    text-align: center;
                }
                ul{
                    flex-direction: row;
                    margin-top: $gutter*4;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: $gutter 0;
                        width: 40%;
                        // padding: $gutter;
                        p{
                            margin: 0;
                        }
                        img{
                            margin: 0;
                        }
                        span{
                            max-width: 100%;
                        }
                    }
                }
                .s-hero__card{
                    width: 100%;
                }

            }
            .s-hero__col--2{
                margin-top: 0;
            }
        }
    }
 }